[Unit]
Description=TagLink API Service
After=network.target
ConditionPathExists=/opt/taglink-api/.venv-fastapi

[Service]
Type=simple
SyslogIdentifier=taglink-api
WorkingDirectory=/opt/taglink-api
Environment="PYTHONPATH=/opt/taglink-api"
Environment="SYSLOG_IDENT=taglink-api"
ExecStart=/opt/taglink-api/start.sh

User=taglink
Group=taglink
Restart=always
RestartSec=20

[Install]
WantedBy=multi-user.target